

<%= form_for @trip do |f| %>
  <%= fields_for :starting_location, @trip.starting_location do |start| %>
    <%= start.hidden_field :latitude %>
    <%= start.hidden_field :longitude %>
    <!-- <%= start.label :address %>: -->
    <%= start.text_field :address %><br />
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= fields_for :destination_location, @trip.destination_location do |destination| %>
            <!-- <%= destination.hidden_field :latitude %>
            <%= destination.hidden_field :longitude %> -->
            <!-- <%= destination.label :address %>: -->
            <%= destination.text_field :address, placeholder: "enter your destination" %><br />
          <% end %>
        </div>
        <div class="small-2 columns">
          <%= f.submit 'Go', :class => 'button postfix' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
