<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "local motion" %></title>

    <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true?key=AIzaSyBaK_7Mwsr60nrhZx1d-aEkIkGvUo4d6m8"></script>
  </head>

  <body>

    <%= render partial: 'layouts/navbar' %>
    <%= render partial: 'layouts/flash' %>

    <!-- <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %> -->

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
